<%= link_to("Back to Company Summary", {:action => 'show', :id => params[:id]}, :class => 'back-link') %>

<div class="companies edit">
	<h2>Update Company</h2>
	<%= form_for(:company, :url => {:action => 'update', :id => @company.id}) do |f| %>

		<table summary="Company form fields">
			<tr>
				<th>Legal Name</th>
				<td><%= f.text_field(:name_legal) %></td>
			</tr>
			<tr>
				<th>Informal Name</th>
				<td><%= f.text_field(:name_informal) %></td>
			</tr>
		</table>

		<div class="form-buttons">
			<%= submit_tag("Save Changes") %>
		</div>

	<% end %>
</div>

<%= params.inspect %>


