<%= link_to("Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="companies show">
  	<h2>Show Company</h2>

  	<table summary="Company Detail View">
	  	<tr>
	      	<th>ID</th>
	      	<td><%= @company.id %></td>
	    </tr>
	    <tr>
	      	<th>Legal Name</th>
	      	<td><%= @company.name_legal %></td>
	    </tr>
	    <tr>
	    	<th>Informal Name</th>
	    	<td><%= @company.name_informal %></td>
	    </tr>
	    <tr>
	    	<th>Created</th>
	    	<td><%= @company.created_at %></td>
	    </tr>
	    <tr>
	    	<th>Updated</th>
	    	<td><%= @company.updated_at %></td>
	    </tr>
	</table>

	<br/><br/>

	<table class="listing" summary="Business Unit list">
	  	<tr class="header">
	  	  <th>ID</th>
	  	  <th>Business Unit</th>
	  	  <th>Industry</th>
	  	  <th>Actions</th>
	  	</tr>

		<% @company.business_units.each do |business_unit| %>
		  	<tr>
		  	  <td><%= business_unit.id %></td>
		  	  <td><%= business_unit.name %></td>
		  	  <td><%= business_unit.industry %></td>
		  	  <td class="actions">
		  	  	<%= link_to("Show", '#', :class => 'action show') %>
		  	  	<%= link_to("Edit", '#', :class => 'action edit') %>
		  	  	<%= link_to("Delete", '#', :class => 'action delete') %>
		  	  </td>
		  	</tr>
		<% end %>
	</table>

</div>


