<%= form_for(@business_unit) do |f| %>
  <% if @business_unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_unit.errors.count, "error") %> prohibited this business unit from being saved:</h2>

      <ul>
      <% @business_unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table summary="Business Unit form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Industry</th>
        <td><%= f.text_field(:industry) %></td>
      </tr>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>