<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>

<div class="organizations show">
  	<h2>Show Organization</h2>

  	<table summary="Organization Detail View">
	  	<tr>
	      	<th>ID</th>
	      	<td><%= @organization.id %></td>
	    </tr>
	    <tr>
	      	<th>Legal Name</th>
	      	<td><%= @organization.name_legal %></td>
	    </tr>
	    <tr>
	    	<th>Informal Name</th>
	    	<td><%= @organization.name_informal %></td>
	    </tr>
	    <tr>
	    	<th>Created</th>
	    	<td><%= @organization.created_at %></td>
	    </tr>
	    <tr>
	    	<th>Updated</th>
	    	<td><%= @organization.updated_at %></td>
	    </tr>
	</table>

	<br/><br/>

	<%= link_to("Add New Business Unit", {:controller => 'business_units', :action => 'new', :organization_id => @organization.id}) %>

	<table class="listing" summary="Business Unit list">
	  	<tr class="header">
	  	  <th>ID</th>
	  	  <th>Business Unit</th>
	  	  <th>Industry</th>
	  	  <th>Actions</th>
	  	</tr>

		<% @organization.business_units.each do |business_unit| %>
		  	<tr>
		  	  <td><%= business_unit.id %></td>
		  	  <td><%= business_unit.name %></td>
		  	  <td><%= business_unit.industry %></td>
		  	  <td class="actions">
		  	  	<%= link_to("Show", '#', :class => 'action show') %>
		  	  	<%= link_to("Edit", '#', :class => 'action edit') %>
		  	  	<%= link_to("Delete", '#', :class => 'action delete') %>
		  	  </td>
		  	</tr>
		<% end %>
	</table>

	<%= form_for @business_unit, :url => create_business_unit_organization_path(@organization) do |f| %>
		  <table summary="Business Unit form fields">
		      <tr>
		        <th>Name</th>
		        <td><%= f.text_field(:name) %></td>
		      </tr>
		      <tr>
		        <th>Industry</th>
		        <td><%= f.text_field(:industry) %></td>
		      </tr>
		  </table>

		  <div class="actions">
		    <%= f.submit %>
		  </div>

	<% end %>


</div>
